
.animalSerotonin {
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: right;

    
}

.catPic{
    margin: 0% 25% 0%;
    width: 50%;
    height: 10%;
}
  
/* .cat_information {
    display: grid;
    justify-content: center;
} */